<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FilmOpedia</title>
<link rel="stylesheet" href='http://localhost:3000/stylesheets/style.css'>
</head>
<body>
    <div class="header">
        <img src='http://localhost:3000/images/filmOpediafinal.svg' id="logo">
    </div>
        <div class="mainBox" id="menuDiv">
            Hello <%= data.username %>,  <%= data.actionsLeft %> actions left today.<br><br>
            <strong>So...</strong>Browse content, or share it with others?<br><br>
            <span class="menu"> <a href="search" class="menu">→Find a time burner</a></span>
            <span class="menu"> <a href="addmovie" class="menu">→Let them know</a></span>

                <% if(data.isAdmin) { %>
                    <br>
                    <span id="status" > Admins Only: </span><span class="menu"> <a href="admin" class="menu">→Edit Users</a></span>
                  <% } %>  
            
    </div>
    <!-- <div class="footer">
        
    </div> -->

</body>
</html>



